@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}
.header{
    background: #fafafa;
    grid-area: header;
    z-index: 1;
    -webkit-box-shadow: 0 10px 6px -6px #a3a3a3;
    -moz-box-shadow: 0 10px 6px -6px #a3a3a3;
     box-shadow: 0 10px 6px -6px #a3a3a3;
}

.header  .container{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 1fr 1fr;
    padding-top: 7px;
    padding-bottom: 20px;
    
}

.header .first-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

.header .second-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

.first-row > .left-side{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.first-row > .right-side{
    display: grid;
    grid-template-columns: 50px 50px 200px;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.second-row > .left-side{
    display: grid;
    grid-template-columns: 75px 2fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

}

.second-row > .right-side{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right-side button {
    border: none;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    background: #06b6d4;
    font-weight: bold;
    color: #fafafa;
}

.small-logo > img{
    height: 40px;
    width: 40px;
}

.small-name{
    font-weight: bolder;
}

.big-logo > img{
    height: 50px;
    width: 50px;
}

.greetings{
   font-weight: bolder;
}

/* _____________________________________________ */

.sidebar{
    background: #06b6d4;
    grid-area: sidebar;
}

.sidebar .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 1fr;
    margin-left: 20px;
    align-items: center;
    color: #fafafa;
    font-weight: 900;
}

.sidebar .second-column, .sidebar .third-column{
    margin-left: 10px;
    display: grid;
    row-gap: 10px;
}

.search-bar > input{
    background: #cbd5e1;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 90%;
    padding: 10px;
    outline: none;
}

.dashboard,.home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy{
    display: grid;
    grid-template-columns: 60px 40px;
    align-items: center;
}

.dashboard-logo{
    height: 50px;
    width: 50px;
}

.dashboard-name{
    font-size: larger;
}

.home-logo, .profile-logo, .messages-logo, .history-logo, .tasks-logo, .communities-logo, .settings-logo, .support-logo, .privacy-logo, .search-logo, .notif-bell{
    height: 25px;
    width: 25px;
    color: #fafafa;
}

.notif-bell{
    stroke: #0a0a0a;
    stroke-width: 1.2;
}

/* _____________________________________________ */

.main-content{
    background: #cbd5e1;
    grid-area: main-content;
}

.main-content > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px
}

.main-content .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.project-title, .announcements-title, .trending-title{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: large;
}

.first-project, .second-project, .third-project, .fourth-project, .fifth-project, .sixth-project{
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 10px;
    border-left: solid #fcd34d;
    border-width: 10px;
    padding: 20px;
    box-shadow: 0 10px 6px -6px #a3a3a3;
}

.project-content{
    grid-column: 1 / span 2;
    grid-row: auto;

}

.project-content > :nth-child(1){
    font-weight: bold;
}

.project-content p:nth-of-type(2){
    color: #374151;
}

.project-logo{
    grid-column: 2 / span 2;
    grid-row: auto;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 20px;
}

.project-logo > svg{
    width: 25px;
    height: 25px;
}

.right-side{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 30px;
    margin-right: 20px;
}

.announcements .container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 6px -6px #a3a3a3;
}

.announcements .container  p:nth-of-type(1){
    font-weight: bold;
}

.announcements .container  p:nth-of-type(2){
    font-size: smaller;
    color: #374151;
}

hr{
    margin-top: 20px;
    border: 1px solid #e5e7eb;
}

.trending .container{
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 6px -6px #a3a3a3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
}

.trending .container .logo img{
    height: 50px;
    width: 50px;
}

.first-trend, .second-trend, .third-trend, .fourth-trend{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto;
}

.trending .content p:nth-of-type(2){
    color: #374151;
}




 









